h1{
    padding: 5%;
    color: blueviolet;
    font-weight: bold;
    text-align: center;
}

#countryDisplay{
    margin: 8%;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:25px;
}
.country{
    border: 2px solid blue;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    width: 300px;
}
#countryDetail img{
    width: 100px;
}
#countryDetail{
    /* border-radius: 30px;
    border: 2px dotted skyblue; */
    text-align: center;
}